<div id="new-comment">
    <div class="message-box">
    <a id="close-message-box" href="">X</a>
    <form action="/new-message" method="POST">
        <label for="comment">New Message</label>
        <textarea name="comment" class="form-control" id="comment" minlength="2" rows="8"></textarea>
        <button>POST</button>
    </form>
    </div>    
</div>