<div>
<h1>MEMBER$ ONLY</h1>
<form action="/sign-up" method="POST">
<input name="firstname" placeholder="FIRST NAME" type="text" required />
<input name="lastname" placeholder="LAST NAME" type="text" required />
<input name="username" placeholder="USERNAME" type="text" required />
<input name="email" placeholder="EMAIL" type="email" required />
<input name="password" placeholder="PASSWORD" type="password" required />
<input name="confirm_password" placeholder="CONFIRM PASSWORD" type="password" required />
<input name="secret" placeholder="SECRET CODE" type="password" maxlength="4"/>
<button>SIGN UP</button>
</form>
<a href="/">LOG IN</a>
</div>
{{#if errors}}
<ul class="errors">
    {{#each errors}}
    <li>{{msg}}</li>
    {{/each}}
</ul>
{{/if}}