body {
  background-color: #4f2683;
  color: #fcc52c;
  height: 100vh;
  max-width: 80vw;
  margin: auto;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-transform: uppercase; }
  body div {
    text-align: center; }
    body div h1 {
      margin-bottom: 10px;
      text-decoration: underline;
      letter-spacing: 1px; }
    body div form {
      display: flex;
      flex-direction: column; }
      body div form input {
        font-family: "Courier New", Courier, monospace;
        font-weight: 600;
        margin: 10px;
        font-size: 15px;
        padding: 4px;
        outline: none; }
      body div form input::placeholder {
        color: #4e2683a8;
        font-weight: 600; }
      body div form button {
        font-family: "Courier New", Courier, monospace;
        font-size: 18px;
        font-weight: 600;
        margin: 10px 60px;
        padding: 4px;
        background-color: #fcc52c;
        color: #4f2683;
        outline: none;
        border: none;
        border-radius: 2px; }
    body div a {
      font-size: 18px;
      color: #fcc52c; }

.errors {
  list-style-type: none;
  padding: 0px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px; }
  .errors li {
    text-align: center; }

.header {
  position: fixed;
  top: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 99;
  background-color: #4f2683; }
  .header .profile {
    display: inline-flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px; }
    .header .profile h4 {
      padding: 0px 15px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center; }
      .header .profile h4 span {
        font-size: smaller;
        padding: 0px 0px 0px 5px; }
    .header .profile a {
      padding: 0px 15px;
      font-size: 20px;
      text-decoration: none; }

.error-page a {
  font-size: 25px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace; }

#new-comment {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5); }
  #new-comment .message-box {
    background-color: #fcc52c;
    color: #4f2683;
    position: relative;
    font-weight: 600;
    font-size: 30px;
    padding: 50px 50px 10px 50px;
    border-radius: 15px;
    max-width: 50vw;
    min-width: 350px;
    box-shadow: 0px 0px 25px 1px #fcc52c; }
    #new-comment .message-box a {
      color: #4f2683;
      font-size: 25px;
      margin: 15px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      text-decoration: none; }
    #new-comment .message-box label {
      padding: 5px; }
    #new-comment .message-box textarea {
      outline: none;
      background-color: #4f2683;
      color: #fcc52c;
      border-radius: 3px;
      font-size: 20px; }
    #new-comment .message-box button {
      padding: 10px;
      background-color: #4f2683;
      color: #fcc52c;
      font-family: "Courier New", Courier, monospace;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 2px;
      border: none;
      outline: none;
      border-radius: 2px;
      margin: 25px;
      cursor: pointer; }

.comments {
  display: block;
  min-width: 350px;
  width: 50vw;
  max-width: 65vh;
  height: 70vh;
  margin: 0px 0px 0px 0px;
  overflow-y: scroll;
  padding: 25px 15px;
  position: relative; }
  .comments .comment {
    border: 2px solid #fcc52c;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    margin-bottom: 15px;
    background-color: #fcc52c;
    color: #4f2683; }
    .comments .comment .text {
      padding: 0px 25px;
      text-align: left;
      text-transform: none;
      font-family: Arial, Helvetica, sans-serif;
      margin: 25px 0px 10px 0px; }
    .comments .comment div {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      font-weight: 600;
      padding: 0px 15px; }
  .comments button {
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    background-color: #fcc52c;
    color: #4f2683;
    font-family: "Courier New", Courier, monospace;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 0px 15px 1px #fcc52c; }

.fade-bottom,
.fade-top {
  position: sticky;
  width: 100%;
  height: 4vh;
  left: 0;
  z-index: 10; }

.fade-top {
  top: -25px;
  background: linear-gradient(to bottom, #4f2683, rgba(78, 38, 131, 0)); }

.fade-bottom {
  bottom: -25px;
  background: linear-gradient(to top, #4f2683, rgba(78, 38, 131, 0)); }

/*# sourceMappingURL=style.css.map */